@model P_U3.Models.Cita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cita</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDeInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraDeInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor!.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paciente!.Apellido)
        </dd>
    </dl>
</div>
<div class="mt-2">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Regresar a la Lista</a>
</div>